/*******************/
/* Global variables */
/*******************/
:root {
  --logo: url("../images/logo_diary.png");
}

/*******************/
/* Overall styling */
/*******************/
* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../images/background_diary.png");
}

body,
input {
  font-size: 1.8rem;
  margin: 0;
}

.card {
  border: 0.1rem solid grey;
  border-radius: 0.4rem;
  box-shadow: 0.1rem 0.1rem 1.1rem grey;
}

.input-border-bottom {
  border: none;
  border-bottom: 0.2rem solid #4e91f0;
  background: none;
}

.input-border-bottom:focus-visible {
  border: none;
  outline: none;
  border-bottom: 0.2rem solid #ff9514;
}

.a-btn-s {
  font-size: smaller;
  text-decoration: none;
  color: grey;
}

.logo-s {
  width: 7rem;
  content: var(--logo);
}

.logo-l {
  width: 15rem;
  content: var(--logo);
}

/**************/
/* index.html */
/**************/
#frm_login {
  margin: 10rem auto;
  background-color: #ECF3FD;
  min-width: 50rem;
  width: 35%;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 5rem;
  gap: 1rem;
}

#frm_login input[type="email"],
#frm_login input[type="password"] {
  padding: 0 0.4rem;
  margin-bottom: 1.2rem;
  width: 75%;
  height: 4rem;
  font-size: 2.5rem;
}

#frm_login input[type="submit"] {
  margin-top: 2rem;
  width: 18rem;
  height: 4.5rem;
  background-color: #2cc3b4;
  border: none;
  color: white;
  font-size: 2.5rem;
}

#frm_login input[type="submit"]:hover {
  cursor: pointer;
}

#frm_login a {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

[data-matching=true] {
  color: #0fb10f;
}

[data-matching=false] {
  color: red;
}

/*-----------------------------Max screen width 600px-----------------------------*/
@media only screen and (max-width: 600px) {
  /*******************/
  /* Overall styling */
  /*******************/
  body,
  main {
    height: 100vh;
  }
  .card {
    height: 100vh;
  }
  /**************/
  /* index.html */
  /**************/
  #frm_login {
    width: 100%;
    min-width: 100%;
    height: 100%;
    margin: 0;
    justify-content: end;
    padding-bottom: 20vh;
  }
}
