/*******************/
/* Global variables */
/*******************/
:root {
  --logo: url("../images/logo_diary.png");
  --test-image: url("https://picsum.photos/200");
  --width-img-container: 21rem;
}

/*******************/
/* Overall styling */
/*******************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("../images/background_diary.png");
}

body,
input {
  font-size: 1.8rem;
  margin: 0;
}

nav {
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  height: 6rem;
  position: sticky;
  background-color: #3783EE;
  border-bottom: .3rem solid #ff9514;
  padding: 0 1rem;
}

nav > * {
  margin: auto 0;
}

nav a {
  color: white;
}

main {
  width: 100%;
  min-height: 50rem;
  padding: 3rem;
}

hr {
  flex-grow: 1;
  border: none;
}

.card {
  border: 0.1rem solid grey;
  border-radius: .4rem;
  box-shadow: .2rem .2rem .5rem grey;
}

.input-border-bottom {
  border: none;
  border-bottom: .2rem solid #4e91f0;
  background: none;
}

.input-border-bottom:focus-visible {
  border: none;
  outline: none;
  border-bottom: .2rem solid #ff9514;
}

.a-btn-s {
  font-size: smaller;
  text-decoration: none;
}

.logo-s {
  width: 7rem;
  content: var(--logo);
}

.logo-l {
  width: 15rem;
  content: var(--logo);
}

/**************/
/* index.html */
/**************/
#frm_login {
  margin: 10rem auto;
  background-color: #ECF3FD;
  min-width: 50rem;
  width: 35%;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 5rem;
  gap: 1rem;
}

#frm_login input[type="email"],
#frm_login input[type="password"] {
  padding: 0 .4rem;
  margin-bottom: 1.2rem;
  width: 75%;
  height: 4rem;
  font-size: 2.5rem;
}

#frm_login input[type="submit"] {
  margin-top: 2rem;
  width: 18rem;
  height: 4.5rem;
  background-color: #2cc3b4;
  border: none;
  color: white;
  font-size: 2.5rem;
}

#frm_login input[type="submit"]:hover {
  cursor: pointer;
}

#frm_login a {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  color: grey;
}

[data-matching=true] {
  color: #0fb10f;
}

[data-matching=false] {
  color: red;
}

/******************/
/* dashboard.html */
/******************/
.bdy-dashboard header {
  display: flex;
  margin-bottom: 2rem;
  margin-top: 1rem;
  gap: 1rem;
}

.bdy-dashboard header span {
  font-size: 3rem;
  color: green;
}

.bdy-dashboard header input {
  width: 26rem;
  font-size: 3rem;
}

.bdy-dashboard main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 160rem;
  margin: 0 auto;
}

.bdy-dashboard main section {
  display: flex;
  gap: 2rem;
  width: 100%;
  min-height: 28%;
  overflow-x: scroll;
}

.bdy-dashboard main section::-webkit-scrollbar {
  display: none;
}

.bdy-dashboard main section article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  width: 50%;
  padding: 2rem;
  background-color: #3783EE;
}

.bdy-dashboard main section article h4 {
  width: 90%;
  padding-bottom: 1rem;
}

.bdy-dashboard main section article span {
  width: 5%;
  text-align: right;
  transform: scalex(-1);
  font-size: 3rem;
  position: absolute;
  right: 2rem;
  color: lightgrey;
}

.bdy-dashboard main section article span:hover {
  cursor: pointer;
  color: dimgrey;
}

.bdy-dashboard main section article h2 {
  width: 100%;
  padding-bottom: 1rem;
}

.bdy-dashboard main section article .description {
  margin-bottom: 1.5rem;
  padding-right: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bdy-dashboard main section article .locations::before {
  background-image: url(../images/locations.png);
}

.bdy-dashboard main section article .exercises::before {
  background-image: url(../images/exercises.png);
}

.bdy-dashboard main section article .persons::before {
  background-image: url(../images/persons.png);
}

.bdy-dashboard main section article .locations,
.bdy-dashboard main section article .exercises,
.bdy-dashboard main section article .persons {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: auto;
  gap: 1rem;
  padding-bottom: .5rem;
}

.bdy-dashboard main section article .locations > p:not(:last-child),
.bdy-dashboard main section article .exercises > p:not(:last-child),
.bdy-dashboard main section article .persons > p:not(:last-child) {
  border-right: .1rem solid black;
  padding-right: 1rem;
}

.bdy-dashboard main section article .locations > p:nth-child(3),
.bdy-dashboard main section article .exercises > p:nth-child(3),
.bdy-dashboard main section article .persons > p:nth-child(3) {
  visibility: hidden;
}

.bdy-dashboard main section article .locations > p:nth-child(3):before,
.bdy-dashboard main section article .exercises > p:nth-child(3):before,
.bdy-dashboard main section article .persons > p:nth-child(3):before {
  content: "...";
  position: absolute;
  visibility: visible;
}

.bdy-dashboard main section article .locations > p:nth-child(n+4),
.bdy-dashboard main section article .exercises > p:nth-child(n+4),
.bdy-dashboard main section article .persons > p:nth-child(n+4) {
  display: none;
}

.bdy-dashboard main section article .locations::before,
.bdy-dashboard main section article .exercises::before,
.bdy-dashboard main section article .persons::before {
  content: "";
  max-height: 100%;
  width: 2.5rem;
  height: 2.5rem;
  background-size: contain;
}

.bdy-dashboard main section article > div:first-of-type {
  width: calc(100% - var(--width-img-container));
}

.bdy-dashboard main section article .images {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  gap: 1rem;
  height: 100%;
}

.bdy-dashboard main section article .images img {
  content: var(--test-image);
  object-fit: cover;
  width: 10rem;
  height: 10rem;
}

.bdy-dashboard .favorite {
  border: .5rem solid gold;
  background-image: url(../images/star.png);
  background-size: inherit;
  background-position: right;
  background-repeat: no-repeat;
}

/*--------------------------------------------------------------------------------*/
/*-----------------------------Max screen width 600px-----------------------------*/
/*--------------------------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
  /*******************/
  /* Overall styling */
  /*******************/
  main {
    padding: 1rem;
  }
  /**************/
  /* index.html */
  /**************/
  .bdy-index main {
    height: 100%;
  }
  .bdy-index #frm_login {
    width: 100%;
    min-width: 100%;
    height: 100%;
    margin: 0;
    justify-content: end;
    padding-bottom: 20vh;
  }
  /**************/
  /* dashboard.html */
  /**************/
  .bdy-dashboard main section article > div:first-of-type {
    width: 100%;
  }
}

/*--------------------------------------------------------------------------------*/
/*-----------------------------Max screen width 1100px-----------------------------*/
/*--------------------------------------------------------------------------------*/
@media only screen and (max-width: 1100px) {
  /*******************/
  /* Overall styling */
  /*******************/
  nav {
    position: relative;
  }
  main {
    height: auto;
  }
  /**************/
  /* dashboard.html */
  /**************/
  .bdy-dashboard article {
    min-width: 100%;
  }
}
