/*******************/
/* Global variables */
/*******************/

:root {
  --logo: url("../images/logo_diary.png");
  --test-image: url("https://picsum.photos/200");
  --width-img-container: 21rem;

  --img-locations: url("../images/locations.png");
  --img-activities: url("../images/activities.png");
  --img-persons: url("../images/persons.png");

  --color-purple: #ae0eb0;
  --color-lightBlue: #309dea;
  --color-lightestBlue: #ecf3fd;
  --color-deepBlue: #046eb9;
  --color-yellow: #FFC107;
  --color-lightGreen: #079822;
}

/*******************/
/* Overall styling */
/*******************/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--color-lightestBlue);
}

body,
input,
textarea {
  font-size: 1.8rem;
  margin: 0;
}

nav {
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  height: 6rem;
  position: sticky;
  background-color: white;
  padding: 0 1rem;
  box-shadow: 0rem 0.5rem 0.5rem grey;

  &>* {
    margin: auto 0;
  }

  a {
    color: black;
  }
}

main {
  width: 100%;
  min-height: 50rem;
  padding: 3rem;
}

hr {
  flex-grow: 1;
  border: none;
}

fieldset {
  border: none;
}

:not(input[type="text"]),
:not(textarea) {
  -webkit-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.3rem grey;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-purple);
}

.background-elements {

  background-image: url("../images/purpleSquare.png"), url("../images/yellowCircle.png"), url("../images/blueCircle.png"), url("../images/blueLine.png"), url("../images/blueSquare.png"), url("../images/greenTriangle.png"), url("../images/purpleCircle.png"), url("../images/greenCircle.png");
  background-position: 2% 4%, -3% 50%, 35% 55%, 0% 100%, 100% 30%, 90% 0%, 40% 100%, 110% 107%;
  background-repeat: no-repeat;
}

.icon-locations::before {
  background-image: var(--img-locations);
}

.icon-activities::before {
  background-image: var(--img-activities);
}

.icon-persons::before {
  background-image: var(--img-persons);
}

.icon-tags::before {
  content: "";
  display: inline-block;
  max-height: 100%;
  width: 2.5rem;
  height: 2.5rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.card {
  border: 0.1rem solid grey;
  border-radius: 0.4rem;
  box-shadow: 0.5rem 0.5rem 0.5rem grey;
}

.input-border-bottom {
  border: none;
  border-bottom: 0.2rem solid var(--color-lightBlue);
  background: none;

  &:focus-visible {
    border: none;
    outline: none;
    border-bottom: 0.2rem solid var(--color-yellow);
  }
}

.a-btn-s {
  font-size: smaller;
  text-decoration: none;
}

.btn-primary {
  margin-top: 2rem;
  width: 18rem;
  height: 4.5rem;
  background-color: var(--color-deepBlue);
  border: none;
  color: white;
  font-size: 2.5rem;

  &:hover {
    cursor: pointer;
  }
}

.logo-s {
  width: 7rem;
  content: var(--logo);
}

.logo-l {
  width: 15rem;
  content: var(--logo);
}

.img-favorite {
  content: url("../images/y-star-not-filled.png");

  &:hover {
    cursor: pointer;
  }

  &[data-favoriteSet] {
    content: url("../images/y-star-filled.png");
  }
}

.emojis-container {
  display: flex;
  overflow-x: auto;
  width: 100%;

  &>span {
    cursor: pointer;
    font-size: 3rem;

    &[data-selected] {
      background-color: var(--color-deepBlue);
    }
  }
}

.close-dialog {
  position: absolute;
  content: url("../images/close.png");
  width: 2.5rem;
  height: 2.5rem;
  right: 1rem;
  top: 1rem;

  &:hover {
    cursor: pointer;
  }
}

/**************/
/* index.html */
/**************/

#frm_login {
  margin: 10rem auto;
  background-color: white;
  min-width: 50rem;
  width: 35%;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 5rem;
  gap: 1rem;

  input[type="email"],
  input[type="password"] {
    padding: 0 0.4rem;
    margin-bottom: 1.2rem;
    width: 75%;
    height: 4rem;
    font-size: 2.5rem;
  }

  a {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    color: grey;
  }
}

[data-matching="true"] {
  color: #0fb10f;
}

[data-matching="false"] {
  color: red;
}

/******************/
/* dashboard.html */
/******************/

.bdy-dashboard {
  main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 160rem;
    margin: 0 auto;

    #dialog-section {
      display: flex;
      margin-bottom: 2rem;
      margin-top: 1rem;
      gap: 1rem;

      #span_toggleFilter {
        font-size: 3rem;
        color: var(--color-lightGreen);
        cursor: pointer;
      }

      #dialog_filter[open] {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
        top: 4rem;
        width: 50%;
        margin: 0 auto;
        z-index: 5;
        border: 0.2rem solid var(--color-lightGreen);
        border-radius: 0.4rem;
        padding: 2rem;

        #inp_filterText {
          width: 100%;
        }

        #btn_searchMemories {
          width: 100%;
        }

        input[name="rb-favorite"] {
          width: 3rem;
          height: 3rem;
          visibility: hidden;

          &:hover {
            cursor: pointer;
          }

          &:checked::after {
            background-image: url("../images/y-star-filled.png");
          }

          &::after {
            content: "";
            background-image: url("../images/b-star-filled.png");
            position: absolute;
            background-size: contain;
            visibility: visible;
            width: 3rem;
            height: 3rem;
            top: 0.6rem;
          }

          &#rb_noFavorite {
            &::after {
              background-image: url("../images/b-star-not-filled.png");
            }

            &:checked::after {
              background-image: url("../images/y-star-not-filled.png");
            }
         }

          &#rb_all{
            &::after {
              background-image: url("../images/b-star-half-filled.png");
            }

            &:checked::after {
              background-image: url("../images/y-star-half-filled.png");
            }
          }
        }

      }

      #inp_title {
        width: 26rem;
        font-size: 3rem;
        z-index: 4;
      }

      #dialog_memory[open] {
        display: flex;
        flex-direction: column;
        border-radius: 0.4rem;
        position: absolute;
        top: -2rem;
        gap: 2rem;
        margin: auto;
        width: 60%;
        z-index: 3;
        padding: 8rem 6rem 2.5rem 6rem;

        &>div:first-of-type {
          display: flex;

          #inp_entryDate {
            width: 30%;
          }
        }

        &>div:nth-of-type(2) {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          &>* {
            margin-bottom: 2rem;
          }

          #ta_description {
            resize: none;
          }

          fieldset {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            input {
              width: calc(100% - 3.5rem);
            }
          }

          .icon-tags {
            margin-bottom: 0;

            .tags {
              span {
                padding-left: 1rem;
                color: var(--color-lightBlue);
                font-weight: bold;

                &::after {
                  content: "";
                  margin-left: .5rem;
                  background-image: url("../images/delete-x.png");
                  background-size: contain;
                  background-repeat: no-repeat;
                  width: 1.3rem;
                  height: 1.2rem;
                  display: inline-block;
                  cursor: pointer;
                }
              }
            }
          }


          #btn_saveMemory {
            width: 100%;
          }
        }
      }

      #div_dialogBackdrop {
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.5;
        z-index: 2;
      }

    }

    .article-section {

      .arrow-left,
      .arrow-right {
        width: 4rem;
        height: 4rem;
        position: absolute;
        top: calc(50% - 2rem);
        z-index: 1;
      }

      .arrow-left {
        left: -1rem;
        content: url("../images/arrow-left.png");
      }

      .arrow-right {
        right: -1rem;
        content: url("../images/arrow-right.png");
      }

      .articles {
        display: flex;
        gap: 2rem;
        width: 100%;
        overflow-x: scroll;
        padding: 0.9rem;

        &::-webkit-scrollbar {
          display: none;
        }

        article {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: flex-start;
          align-content: flex-start;
          width: 100%;
          min-width: calc(50% - 1rem);
          padding: 2rem;
          background-color: var(--color-lightBlue);

          h6 {
            color: var(--color-yellow);
            font-size: 1.5rem;
            text-shadow: 0.1rem 0.1rem grey;
          }

          .edit,
          .delete {
            width: 2rem;
            height: 2rem;
            background-size: contain;
            position: absolute;

            &:hover {
              cursor: pointer;
              filter: invert(1);
            }

            &:active {
              filter: invert(0);
            }
          }

          .edit {
            right: 5rem;
            background-image: url("../images/edit.png");
          }

          .delete {
            right: 2rem;
            background-image: url("../images/delete-bin.png");
          }

          h2,
          h4 {
            width: 100%;
            padding-bottom: 1rem;
          }

          .prev-description {
            margin-bottom: 1.5rem;
            padding-right: 1rem;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

          .locations,
          .activities,
          .persons {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            width: auto;
            gap: 1rem;
            padding-bottom: 0.5rem;

            >p:not(:last-child) {
              border-right: 0.1rem solid black;
              padding-right: 1rem;
            }

            >p:nth-child(3) {
              visibility: hidden;

              &:before {
                content: "...";
                position: absolute;
                visibility: visible;
              }
            }

            >p:nth-child(n + 4) {
              display: none;
            }
          }

          &>div:first-of-type {
            width: calc(100% - var(--width-img-container));
          }

          .images {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: auto auto;
            gap: 1rem;
            height: 100%;

            img {
              content: var(--test-image);
              object-fit: cover;
              width: 10rem;
              height: 10rem;
            }
          }
        }
      }
    }
  }

  .favorite {
    border: 0.5rem solid var(--color-yellow);
    background-image: url("../images/star.png");
    background-size: inherit;
    background-position: right;
    background-repeat: no-repeat;
  }
}

/*--------------------------------------------------------------------------------*/
/*-----------------------------Max screen width 1100px-----------------------------*/
/*--------------------------------------------------------------------------------*/
@media only screen and (max-width: 1100px) {
  /*******************/
  /* Overall styling */
  /*******************/

  nav {
    position: relative;
  }

  main {
    height: auto;
  }

  /**************/
  /* dashboard.html */
  /**************/

  .bdy-dashboard {
    main {
      #dialog-section {
        #dialog_filter[open] {
          width: 70%;
        }

        #dialog_memory[open] {
          width: 100%;
        }
      }

      .article-section {
        .articles {
          article {
            min-width: 100%;
          }
        }
      }
    }
  }
}

/*--------------------------------------------------------------------------------*/
/*-----------------------------Max screen width 600px-----------------------------*/
/*--------------------------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
  /*******************/
  /* Overall styling */
  /*******************/

  main {
    padding: 1rem;

    .img-favorite {
      max-width: 3rem;
    }
  }

  /**************/
  /* index.html */
  /**************/
  .bdy-index {
    main {
      height: 100%;
    }

    #frm_login {
      width: 100%;
      min-width: 100%;
      height: 100%;
      margin: 0;
      justify-content: end;
      padding-bottom: 20vh;
    }
  }

  /**************/
  /* dashboard.html */
  /**************/

  .bdy-dashboard {
    main {
      #dialog-section {
        #dialog_filter[open] {
          width: 100%;
        }

        #dialog_memory[open] {
          &>div:first-child {
            margin-top: 5rem;
            flex-direction: column-reverse;
            gap: 0.5rem;

            #inp_entryDate {
              width: 50%;
              margin: auto;
            }
          }
        }
      }

      .article-section {
        .articles {
          article {
            &>div:first-of-type {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
