/*******************/
/* Global variables */
/*******************/
:root {
  --logo: url("../images/logo_diary.png");
  --test-image: url("https://picsum.photos/200");
  --width-img-container: 21rem;
  --img-locations: url("../images/locations.png");
  --img-activities: url("../images/activities.png");
  --img-persons: url("../images/persons.png");
  --color-purple: #ae0eb0;
  --color-lightBlue: #309dea;
  --color-lightestBlue: #ecf3fd;
  --color-deepBlue: #046eb9;
  --color-yellow: #FFC107;
  --color-lightGreen: #079822;
}

/*******************/
/* Overall styling */
/*******************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--color-lightestBlue);
}

body,
input,
textarea {
  font-size: 1.8rem;
  margin: 0;
}

nav {
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  height: 6rem;
  position: sticky;
  background-color: var(--color-yellow);
  border-bottom: 0.3rem solid black;
  padding: 0 1rem;
}

nav > * {
  margin: auto 0;
}

nav a {
  color: black;
}

main {
  width: 100%;
  min-height: 50rem;
  padding: 3rem;
}

hr {
  flex-grow: 1;
  border: none;
}

fieldset {
  border: none;
}

:not(input[type="text"]),
:not(textarea) {
  user-select: none;
}

::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.3rem grey;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-purple);
}

.background-elements {
  background-image: url("../images/purpleSquare.png"), url("../images/yellowCircle.png"), url("../images/blueCircle.png"), url("../images/blueLine.png"), url("../images/blueSquare.png"), url("../images/greenTriangle.png"), url("../images/purpleCircle.png"), url("../images/greenCircle.png");
  background-position: 2% 4%, -3% 50%, 35% 55%, 0% 100%, 100% 30%, 90% 0%, 40% 100%, 110% 107%;
  background-repeat: no-repeat;
}

.icon-locations::before {
  background-image: var(--img-locations);
}

.icon-activities::before {
  background-image: var(--img-activities);
}

.icon-persons::before {
  background-image: var(--img-persons);
}

.icon-tags::before {
  content: "";
  display: inline-block;
  max-height: 100%;
  width: 2.5rem;
  height: 2.5rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.card {
  border: 0.1rem solid grey;
  border-radius: 0.4rem;
  box-shadow: 0.5rem 0.5rem 0.5rem grey;
}

.input-border-bottom {
  border: none;
  border-bottom: 0.2rem solid var(--color-lightBlue);
  background: none;
}

.input-border-bottom:focus-visible {
  border: none;
  outline: none;
  border-bottom: 0.2rem solid var(--color-yellow);
}

.a-btn-s {
  font-size: smaller;
  text-decoration: none;
}

.btn-primary {
  margin-top: 2rem;
  width: 18rem;
  height: 4.5rem;
  background-color: var(--color-deepBlue);
  border: none;
  color: white;
  font-size: 2.5rem;
}

.btn-primary:hover {
  cursor: pointer;
}

.logo-s {
  width: 7rem;
  content: var(--logo);
}

.logo-l {
  width: 15rem;
  content: var(--logo);
}

/**************/
/* index.html */
/**************/
#frm_login {
  margin: 10rem auto;
  background-color: white;
  min-width: 50rem;
  width: 35%;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 5rem;
  gap: 1rem;
}

#frm_login input[type="email"],
#frm_login input[type="password"] {
  padding: 0 0.4rem;
  margin-bottom: 1.2rem;
  width: 75%;
  height: 4rem;
  font-size: 2.5rem;
}

#frm_login a {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  color: grey;
}

[data-matching="true"] {
  color: #0fb10f;
}

[data-matching="false"] {
  color: red;
}

/******************/
/* dashboard.html */
/******************/
.bdy-dashboard main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 160rem;
  margin: 0 auto;
}

.bdy-dashboard main #dialog-section {
  display: flex;
  margin-bottom: 2rem;
  margin-top: 1rem;
  gap: 1rem;
}

.bdy-dashboard main #dialog-section #span_openFilter {
  font-size: 3rem;
  color: var(--color-lightGreen);
}

.bdy-dashboard main #dialog-section #inp_title {
  width: 26rem;
  font-size: 3rem;
  z-index: 4;
}

.bdy-dashboard main #dialog-section dialog[open] {
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
  position: absolute;
  top: -2rem;
  gap: 2rem;
  margin: auto;
  width: 60%;
  z-index: 3;
  padding: 8rem 6rem 2.5rem 6rem;
}

.bdy-dashboard main #dialog-section dialog[open] > div:first-child {
  display: flex;
}

.bdy-dashboard main #dialog-section dialog[open] > div:first-child #inp_entryDate {
  width: 30%;
}

.bdy-dashboard main #dialog-section dialog[open] > div:first-child #img_favorite {
  content: url("../images/y-star-not-filled.png");
}

.bdy-dashboard main #dialog-section dialog[open] > div:first-child #img_favorite:hover {
  cursor: pointer;
}

.bdy-dashboard main #dialog-section dialog[open] > div:first-child #img_favorite[data-favoriteSet] {
  content: url("../images/y-star-filled.png");
}

.bdy-dashboard main #dialog-section dialog[open] > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bdy-dashboard main #dialog-section dialog[open] > div:nth-child(2) #div_emojis {
  display: flex;
  overflow-x: auto;
}

.bdy-dashboard main #dialog-section dialog[open] > div:nth-child(2) #div_emojis > span {
  cursor: pointer;
}

.bdy-dashboard main #dialog-section dialog[open] > div:nth-child(2) #div_emojis > span[data-selected] {
  background-color: var(--color-deepBlue);
}

.bdy-dashboard main #dialog-section dialog[open] > div:nth-child(2) #ta_description {
  resize: none;
}

.bdy-dashboard main #dialog-section dialog[open] > div:nth-child(2) fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.bdy-dashboard main #dialog-section dialog[open] > div:nth-child(2) fieldset input {
  width: calc(100% - 3.5rem);
}

.bdy-dashboard main #dialog-section dialog[open] > div:nth-child(2) input[type="submit"] {
  width: 100%;
}

.bdy-dashboard main #dialog-section #div_dialogBackdrop {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 2;
}

.bdy-dashboard main .article-section .arrow-left,
.bdy-dashboard main .article-section .arrow-right {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: calc(50% - 2rem);
  z-index: 1;
}

.bdy-dashboard main .article-section .arrow-left {
  left: -1rem;
  content: url("../images/arrow-left.png");
}

.bdy-dashboard main .article-section .arrow-right {
  right: -1rem;
  content: url("../images/arrow-right.png");
}

.bdy-dashboard main .article-section .articles {
  display: flex;
  gap: 2rem;
  width: 100%;
  overflow-x: scroll;
  padding: 0.9rem;
}

.bdy-dashboard main .article-section .articles::-webkit-scrollbar {
  display: none;
}

.bdy-dashboard main .article-section .articles article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  min-width: calc(50% - 1rem);
  padding: 2rem;
  background-color: var(--color-lightBlue);
}

.bdy-dashboard main .article-section .articles article h6 {
  color: var(--color-yellow);
}

.bdy-dashboard main .article-section .articles article span {
  width: 5%;
  text-align: right;
  transform: scalex(-1);
  font-size: 3rem;
  position: absolute;
  right: 2rem;
  color: lightgrey;
}

.bdy-dashboard main .article-section .articles article span:hover {
  cursor: pointer;
  color: dimgrey;
}

.bdy-dashboard main .article-section .articles article h2,
.bdy-dashboard main .article-section .articles article h4 {
  width: 100%;
  padding-bottom: 1rem;
}

.bdy-dashboard main .article-section .articles article .prev-description {
  margin-bottom: 1.5rem;
  padding-right: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bdy-dashboard main .article-section .articles article .locations,
.bdy-dashboard main .article-section .articles article .activities,
.bdy-dashboard main .article-section .articles article .persons {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: auto;
  gap: 1rem;
  padding-bottom: 0.5rem;
}

.bdy-dashboard main .article-section .articles article .locations > p:not(:last-child),
.bdy-dashboard main .article-section .articles article .activities > p:not(:last-child),
.bdy-dashboard main .article-section .articles article .persons > p:not(:last-child) {
  border-right: 0.1rem solid black;
  padding-right: 1rem;
}

.bdy-dashboard main .article-section .articles article .locations > p:nth-child(3),
.bdy-dashboard main .article-section .articles article .activities > p:nth-child(3),
.bdy-dashboard main .article-section .articles article .persons > p:nth-child(3) {
  visibility: hidden;
}

.bdy-dashboard main .article-section .articles article .locations > p:nth-child(3):before,
.bdy-dashboard main .article-section .articles article .activities > p:nth-child(3):before,
.bdy-dashboard main .article-section .articles article .persons > p:nth-child(3):before {
  content: "...";
  position: absolute;
  visibility: visible;
}

.bdy-dashboard main .article-section .articles article .locations > p:nth-child(n + 4),
.bdy-dashboard main .article-section .articles article .activities > p:nth-child(n + 4),
.bdy-dashboard main .article-section .articles article .persons > p:nth-child(n + 4) {
  display: none;
}

.bdy-dashboard main .article-section .articles article > div:first-of-type {
  width: calc(100% - var(--width-img-container));
}

.bdy-dashboard main .article-section .articles article .images {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  gap: 1rem;
  height: 100%;
}

.bdy-dashboard main .article-section .articles article .images img {
  content: var(--test-image);
  object-fit: cover;
  width: 10rem;
  height: 10rem;
}

.bdy-dashboard .favorite {
  border: 0.5rem solid var(--color-yellow);
  background-image: url(../images/star.png);
  background-size: inherit;
  background-position: right;
  background-repeat: no-repeat;
}

/*--------------------------------------------------------------------------------*/
/*-----------------------------Max screen width 1100px-----------------------------*/
/*--------------------------------------------------------------------------------*/
@media only screen and (max-width: 1100px) {
  /*******************/
  /* Overall styling */
  /*******************/
  nav {
    position: relative;
  }
  main {
    height: auto;
  }
  /**************/
  /* dashboard.html */
  /**************/
  .bdy-dashboard #dialog-section dialog {
    width: 100%;
  }
  .bdy-dashboard main .article-section .articles article {
    min-width: 100%;
  }
}

/*--------------------------------------------------------------------------------*/
/*-----------------------------Max screen width 600px-----------------------------*/
/*--------------------------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
  /*******************/
  /* Overall styling */
  /*******************/
  main {
    padding: 1rem;
  }
  /**************/
  /* index.html */
  /**************/
  .bdy-index main {
    height: 100%;
  }
  .bdy-index #frm_login {
    width: 100%;
    min-width: 100%;
    height: 100%;
    margin: 0;
    justify-content: end;
    padding-bottom: 20vh;
  }
  /**************/
  /* dashboard.html */
  /**************/
  .bdy-dashboard #dialog-section dialog > div:first-child {
    margin-top: 5rem;
    flex-direction: column-reverse;
    gap: 0.5rem;
  }
  .bdy-dashboard #dialog-section dialog > div:first-child #inp_entryDate {
    width: 50%;
    margin: auto;
  }
  .bdy-dashboard #dialog-section dialog > div:first-child #img_favorite {
    max-width: 3rem;
    margin: auto;
  }
  .bdy-dashboard main .article-section .articles article > div:first-of-type {
    width: 100%;
  }
}
